{% extends "user/layout.html" %}

{% block content %}
<div class="container">
    {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}  {# This was missing #}
            {% endif %}
            {% endwith %}

            {% include 'user/navbar.html' %}
   
</div>
{% endblock content %}
