{% extends "user/layout.html" %}
{% block content %}
<div class="container">
    <button class="text-center my-3" onclick="window.location.href='/'" class="btn btn-primary">Home</button>

    <h1 class="text-center my-3">
        User Login
    </h1>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}  {# This was missing #}
            {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">

                        <div class="my-2">
                            <label for=""><b>Enter Your Email</b></label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                        
                        <div class="my-2">
                            <label for=""><b>Enter Your Password</b></label>
                            <input type="password" name="pwd" id="pwd" class="form-control">
                        </div>
        
                        <button class="btn btn-success">Log In</button>
                        <span class="d-flex align-items-center">If you have not made an account...<a href="/user/signup" class="text-center nav-link">Signup</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
